<!DOCTYPE html>
<html lang="en" ng-app="woberApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Worldwide Bible Exposition Reports</title>
    <link rel="stylesheet" href="https://woberdev.firebaseapp.com/assets/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/attendance.js"></script>
    <script src="assets/js/controllers.js"></script>
    </head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Worldwide Bible Exposition Reports</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="#attendance">Attendance</a></li>
                    <li><a href="#mga-magtatanong">Mga Magtatanong</a></li>
                    <li><a href="#special-guests">Special Guests</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="bs-docs-section">&nbsp;</div>
        <div class="bs-docs-section">&nbsp;</div>
        <div class="bs-docs-section">&nbsp;</div>

        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-7">

                    <!-- START ATTENDANCE -->
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="#attendance">Attendance</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover " ng-controller="PlacesAttendaceController as placesAttendance">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Locales</th>
                                        <th>Zone</th>
                                        <th>Guests</th>
                                        <th>Brethren</th>
                                        <th>Sub-total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="locale in placesAttendance.places">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ locale.name }}</td>
                                        <td><label class="label label-info" ng-show="{{ locale.zone }}">Zone {{ locale.zone }}</label></td>
                                        <td class='guest-attendance'>{{ locale.guests }}</td>
                                        <td class='brethren-attendance'>{{ locale.brethren }}</td>
                                        <td class='subtotal-attendance'>{{ locale.sub_total }}</td>
                                    </tr>
                                    <tr class="info" id="total">
                                        <th>&nbsp;</th>
                                        <th>Zone 1 total</th>
                                        <th>&nbsp;</th>
                                        <td class='guest-attendance'><span class="label label-info">[TOTAL ZONE 1 GUESTS]</span></td>
                                        <td class='brethren-attendance'><span class="label label-info">[TOTAL ZONE 1 BRETHREN]</span></td>
                                        <td class='subtotal-attendance'><span class="label label-info">[ZONE 1 TOTAL]</span></td>
                                    </tr>
                                    <tr class="info" id="total">
                                        <th>&nbsp;</th>
                                        <th>Zone 2 total</th>
                                        <th>&nbsp;</th>
                                        <td class='guest-attendance'><span class="label label-info">[TOTAL ZONE 2 GUESTS]</span></td>
                                        <td class='brethren-attendance'><span class="label label-info">[TOTAL ZONE 2 BRETHREN]</span></td>
                                        <td class='subtotal-attendance'><span class="label label-info">[ZONE 2 TOTAL]</span></td>
                                    </tr>
                                    <tr class="info" id="total">
                                        <th>&nbsp;</th>
                                        <th>Zone 3 total</th>
                                        <th>&nbsp;</th>
                                        <td class='guest-attendance'><span class="label label-info">[TOTAL ZONE 3 GUESTS]</span></td>
                                        <td class='brethren-attendance'><span class="label label-info">[TOTAL ZONE 3 BRETHREN]</span></td>
                                        <td class='subtotal-attendance'><span class="label label-info">[ZONE 3 TOTAL]</span></td>
                                    </tr>
                                    <tr class="success" id="total">
                                        <th>&nbsp;</th>
                                        <th>Total</th>
                                        <th>&nbsp;</th>
                                        <td class='guest-attendance'><span class="label label-success">[TOTAL GUESTS]</span></td>
                                        <td class='brethren-attendance'><span class="label label-success">[TOTAL BRETHREN]</span></td>
                                        <td class='subtotal-attendance'><span class="label label-success">[TOTAL]</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END ATTENDANCE -->

                </div>

                <div class="col-lg-5">

                    <!-- START REPORT -->
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="#report-summary">Report Summary</h3>
                        </div>
                        <div class="panel-body" ng-controller="AttendanceSummaryController as report">
                            <h4>Location: <strong>{{ report.venue }}</strong></h4>
                            <h4>As of: <strong>{{ report.as_of }}</strong></h4>
                            <h4>Guests: <strong>{{ report.guests }}</strong></h4>
                            <h4>Brethren: <strong>{{ report.brethren }}</strong></h4>
                            <h4>Magtatanong: <strong>{{ report.magtatanong }}</strong></h4>
                            <h4>Total Attendees: <strong>{{ report.total_attendees }}</strong></h4>
                            <a href="#" class="btn btn-info" id="fetch-latest-report">Fetch Latest Report</a>
                        </div>
                    </div>
                    <!-- END REPORT -->

                    <!-- START MAGTATANONG -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="#mga-magtatanong">Mga Magtatanong</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Complete Name</th>
                                        <th>Age</th>
                                        <th>Religion</th>
                                    </tr>
                                </thead>
                                <tbody ng-controller="MgaMagtatanongController as magtatanongs">
                                    <tr ng-repeat="magtatanong in magtatanongs.persons">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ magtatanong.fullname }}</td>
                                        <td>{{ magtatanong.age }}</td>
                                        <td>{{ magtatanong.religion }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END MAGTATANONG -->

                    <!-- START SPECIAL GUESTS -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="#special-guests">Special Guests</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Complete Name</th>
                                        <th>Position</th>
                                    </tr>
                                </thead>
                                <tbody ng-controller="SpecialGuestsController as vips">
                                    <tr ng-repeat="vip in vips.persons">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ vip.fullname }}</td>
                                        <td>{{ vip.position }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END MAGTATANONG -->
                        
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>

</body>
</html>
